# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
*.log

# SLAM / Datasets / Plots
datasets/
*.zip

# Calibration and build artifacts
build/
*.bin
*.out 

# VS Code or IDEs
.vscode/
.idea/

# General
*.swp
video2calibration/
ORB_SLAM2-master/
opencv/
former_codes/wsl
ORB_SLAM3/Vocabulary/ORBvoc.txt
