# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
*.log

# Calibration and build artifacts
build/
*.bin
*.out 

# VS Code or IDEs
.vscode/
.idea/

# General
*.swp
video2calibration/
ORB_SLAM2-master/
ORB_SLAM3-old/
opencv/
former_codes/wsl


# SLAM / Datasets / Plots
datasets/
*.zip

# Ignore everything in ORB_SLAM3
ORB_SLAM3/*

# But NOT these:
!ORB_SLAM3/CMakeLists.txt
!ORB_SLAM3/Examples/
!ORB_SLAM3/Examples/Monocular/
!ORB_SLAM3/Examples/Monocular/mono_webcam.cc
